<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Execution Flow Demo Suite">
	<listeners>
		<listener class-name="com.anvsystems.executionflow.TestListners"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.anvsystems.executionflow.PaymentFlowTest"/>
      <class name="com.anvsystems.executionflow.FlowExecutionTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Execution Flow Demo Suite -->
